.contacts {
  &__title {
    padding-top: 80px;
    @include title;
  }

  &__text {
    @include subtitle;
  }

  &__map {
    margin-top: 70px;
    width: 100%;
    height: 440px;
  }

  &-container {
    max-width: 100%;
  }
}
